body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 12px;
}

.color {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    position: relative;
    padding: 4px;
}

.inner-color {
    width: 80%;
    height: 70%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(120%);
}
h1 {
    font-size: 30px;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}
button {
    margin-bottom: 30px;
}