* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.linear1, .linear2 {
    display: block;
    background-color: rgba(229, 235, 244, .8);
    text-align: center;
    color: black;
    height: 2.6vh;
}

.linear-mid {
    background-color: rgba(229, 235, 244, .8);
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    width: 2vw;
    height: 100vh;
}

.box1 {
    background-color: rgb(105, 224, 232);
    width: 28vw;
    height: 49vh;
    min-height: 100px;
}

.box2 {
    background-color: rgb(233, 89, 175);
    width: 28vw;
    height: 48.4vh;
    min-height: 100px;
}

.box3 {
    background-color: rgb(21, 154, 142);
    height: 69vh;
    min-height: 100px;
}

.box4 {
    background-color: rgb(242, 73, 35);
    height: 28.4vh;
    min-height: 100px;
}

.arrow-right {
    transform: translate(0%, 0%) rotate(180deg);
    cursor: pointer;
}

.cont1 {
    width: 28%
}

.cont2 {
    width: 100%;
}

#arrow-left {
    cursor: pointer;
}
